<h1>Welcome to Rock, Paper Scissors!</h1>

<h2>Although we are sure you know how to play this game. Please navigate to the rules page in order to understand how it works in our sinatra app.<br>HAPPY PLAYING</h2>
